body {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.clickable {
    cursor: pointer;
}

.popup {
    position: absolute;
}

.blocker {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    position: fixed;
}
.gameboard-container, .initial-grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.row {
    flex: 1;
    display: flex;
}

.column {
    flex: 1;
    background-color: grey;
    /* justify-content: center; */
    text-align: center;
}


